.field {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  margin-bottom: 1rem;
  flex: 1;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

:host ::ng-deep p-inputnumber,
:host ::ng-deep .p-inputnumber,
:host ::ng-deep .p-inputnumber input,
textarea {
  width: 100%;
}
